#homebg{
  background-image: url("/public/Images/homepic.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
body{
 background-image: linear-gradient(to bottom, black, rgb(155, 210, 191)); 
}
nav{
  
  background-image: linear-gradient(to right, black, rgb(155, 210, 191)); 
}